doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Majestic Admin
        // plugins:css
        link(rel='stylesheet' href='/static/vendors/mdi/css/materialdesignicons.min.css')
        link(rel='stylesheet' href='/static/vendors/base/vendor.bundle.base.css')
        // endinject
        // plugin css for this page
        // End plugin css for this page
        // inject:css
        link(rel='stylesheet' href='/static/css/style.css')
        // endinject
        link(rel='shortcut icon' href='/static/images/favicon.png')
    body
        .container-scroller
            // partial:../../partials/_navbar.html
            include ../../partials/navbar.pug
            // partial
            .container-fluid.page-body-wrapper
                // partial:../../partials/_sidebar.html
                include ../../partials/sidebar.pug
                // partial
                .main-panel
                    .content-wrapper
                        .row
                            .col-12.grid-margin.stretch-card
                                .card
                                    .card-body
                                        h4.card-title Edit the Blog
                                        form(action="/dashboard/settings/site" method="post").forms-sample
                                            .form-group
                                                label(for='title') Blog Title
                                                input.form-control(type='text' placeholder='Blog Title' name='blogTitle' value=blog.blogTitle required)
                                            .form-group
                                                label(for='body') Blog Description
                                                input.form-control(type='text' placeholder='Blog Description' name='blogDescription' value=blog.blogDescription required)
                                            .form-group
                                                label(for='body') Author
                                                input.form-control(type='text' placeholder='Blog Author' name='author' value=blog.blogAuthor required)
                                            .form-group
                                                label(for='body') Author Description
                                                input.form-control(type='text' placeholder='Author Description' name='authorDescription' value=blog.blogAuthorInfo required)
                                            button.btn.btn-primary.mr-2(type='submit' name="id" value=user.id) Save Settings
                                            a(href="/dashboard/users" class="text-dark")
                                                button.btn.btn-light Cancel
                    // content-wrapper ends
                    // partial:../../partials/_footer.html
                    footer.footer
                        .d-sm-flex.justify-content-center.justify-content-sm-between
                            span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block Copyright © bootstrapdash.com 2020
                            span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
                                | Free
                                a(href='https://www.bootstrapdash.com/' target='_blank') Bootstrap dashboard template
                                |  from Bootstrapdash.com
                    // partial
                    // main-panel ends
                    // page-body-wrapper ends
                    // container-scroller
                    // plugins:js
                    script(src='/static/vendors/base/vendor.bundle.base.js')
                    // endinject
                    // inject:js
                    script(src='/static/js/off-canvas.js')
                    script(src='/static/js/hoverable-collapse.js')
                    script(src='/static/js/template.js')
                    // endinject
                    // Custom js for this page
                    script(src='/static/js/file-upload.js')
                    // End custom js for this page
